{% extends "base.html" %} {% block content %}


<!--TODO: Display the user's name in the h1 title-->
<div class="container">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1 class="title">Welcome, Name!</h1>
  <!--TODO: Make a GET request to the /download path-->
  <a href="{{ url_for('download')}}">Download Your File</a>
</div>
{% endblock %}
